.DS_Store
.vscode/
*.o

/darwin-arm64/emulator
/darwin-arm64/original-emulator

linux-arm64-container/docker_shared/emulator/Makefile
linux-arm64-container/docker_shared/emulator/mod_emulator.c
linux-arm64-container/docker_shared/emulator/virt.c
linux-arm64-container/docker_shared/emulator/virt.h

linux-arm64-container/docker_shared/original-emulator


