.DS_Store
.vscode/
/x86container/docker_shared/um-jit-master
/experiments
*.o
linux-arm64-container/docker_shared/jit/jit
*.o
*.txt
linux-arm64-container/docker_shared/jit/unrolled_sandmark_jit.um
linux-x86-64-container/docker_shared/umasm/unrolled_sandmark.um
linux-x86-64-container/docker_shared/umasm/unrolled_sandmark_jit.um
linux-x86-64-container/docker_shared/umasm/unrolled_tuffer.um
linux-arm64-container/docker_shared/emulator/unrolled_sandmark.um
linux-arm64-container/docker_shared/jit/ref.txt
linux-arm64-container/docker_shared/jit/ours.txt
*.txt
macOS-arm64-container/umasm/manyadds.um
macOS-arm64-container/umasm/manycmoves.um
macOS-arm64-container/umasm/manydivs.um
macOS-arm64-container/umasm/manyloads.um
macOS-arm64-container/umasm/manynands.um
